*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body,html{
    width: 100%;
    height: 100%;
}
.topBox{
    width: 100%;
    height: 21px;
    background: #000;
    z-index: -1;
    position: absolute;
}
header{
    width: 1200px;
    height: 105px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.headerLogo{
    width: 258px;
	height: 105px;
}
header>div{
    width: calc(100% - 258px);
    height: 100%;
}
header>div>div{
    height: 21px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    color: white;
}
header>div>div span{
    color: #ff6700!important;
}
header a{
    text-decoration: none;
    color: white;
}
header a:hover,header a:active,header a:visited{
    color: white;
    text-decoration: none;
}
header span>a{
    color: #ff6700!important;
}
header>div>div p{
    height: 21px;
    line-height: 21px;
    margin-left: 7px;
    font-size: 18px;
}
header>div>p{
	height: 85px;
	font-size: 30px;
	line-height: 85px;
	color: #666666;
    margin-left: 24px;
}
/* *********************************************************** */
main{
    width: 100%;
    height: 500px;
	background-image: url('../images/loginImg/mianBackgroundImg.png');
    background-position: -150px center;
    padding-top: 65px;
}
.loginBox{
    width: 350px;
	height: 370px;
	background-color: #ffffff;
    margin-left: 60%;
}
.loginChoose{
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #f6f6f6;
    cursor: pointer;
}
.loginChoose>p{
    width: 50%;
	height: 21px;
    line-height: 21px;
    text-align: center;
	font-size: 22px;
	color: #666666;
}
.loginChoose p:first-child{
    border-right: 1px solid #f6f6f6;
}
.loginChooseActive{
    font-weight: 700;
    color: #ff6700!important;
}
.loginChooseContent{
    width: 100%;
    height: calc(100% - 56px);
}
.loginChoose1Content{
    padding-top: 65px;
    width: 100%;
    height: 100%;
}
.loginChoose1ContentImg{
    display: flex;
    align-items: center;
}
.loginChoose1ContentImgShow{
    width: 147px;
	height: 147px;
    margin: 0 25px 0 29px;
}
.loginChoose1ContentImgPhone{
    width: 141px;
	height: 168px;
}
.loginChoose1Content>p{
    text-align: center;
	height: 14px;
	font-size: 14px;
	line-height: 14px;
	color: #666666;
    margin-top: 31px;
}
.loginChooseContent>.loginChoose1Content{
    display: none;
}
.loginChoose2Content{
    padding-top: 42px;
}
.id,.password{
    width: 290px;
	height: 40px;
	border: solid 1px #bfbfbf;
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
    margin-bottom: 17px;
}
.id img,.password img{
    width: 38px;
	height: 38px;
    margin-right: 9px;
}
.id input,.password input{
    width: calc(100% - 47px);
	height: 100%;
	border: none;
    outline: none;
    font-size: 22px;
    line-height: 40px;
}
.id input::placeholder,.password input::placeholder{
    color: #e6e6e6;
}
.loginChoose2ContentFormBoxRemember{
    width: 290px;
    height: 14px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    color: #4d4d4d;
}

.loginChoose2ContentFormBox>button{
    display: block;
    width: 290px;
	height: 40px;
    color: white;
	background-color: #ff6600;
    border: none;
    margin:  0 auto;
    margin-top: 29px;
    font-size: 24px;
}
.loginChoose2ContentBtnBox{
    width: 100%;
    height: 52px;
	background-color: #fcfcfc;
    border-top: 1px solid #f6f6f6;
    margin-top: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loginChoose2ContentBtnBox img{
    width: 16px;
	height: 16px;
    margin-right: 5px;
}
.loginChoose2ContentBtnBox button{
    height: 19px;
    line-height: 19px;
    background: none;
    border: none;
    color: #ff6600;
    font-size: 20px;
}
footer{
    width: 100%;
    margin-top: 29px;
    text-align: center;
    color: #333333;
    font-size: 14px
}
footer p{
    margin-bottom: 23px;
}
p,span,del{
    cursor: pointer;
}