*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body,html{
    width: 100%;
    height: 100%;
}
html{
    overflow: scroll;
    scrollbar-width: none;
}
.topBox{
    width: 100%;
    height: 21px;
    background: #000;
    z-index: -1;
    position: absolute;
}
header{
    width: 100%;
    margin: 0 auto;
    box-shadow: 0px 1px 8px 0px rgba(146, 146, 146, 0.4);
}
.header{
    width: 1200px;
    height: 105px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.headerLogo{
    width: 258px;
	height: 105px;
}
.header>div{
    width: calc(100% - 258px);
    height: 100%;
}
.header>div>div{
    height: 21px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    color: white;
}
.header>div>div span{
    color: #ff6700!important;
}
.headerText>a,.headerText>a:hover,.headerText>a:active,.headerText>a:visited{
    color: white;
    text-decoration: none;
}
.header span>a{
    color: #ff6700!important;
    text-decoration: none;
}
.header>div>div p{
    height: 21px;
    line-height: 21px;
    margin-left: 7px;
    font-size: 18px;
}
.welCome{
    width: 100%;
	height: 84px!important;
	font-size: 30px!important;
	line-height: 85px!important;
    padding-left: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
}
.welCome>#text{
	color: #666666;
    margin: 0!important;
    font-size: 30px!important;
    height: 28px;
    line-height: 28px;
}
.welCome>div{
	height: 23px;
	font-size: 24px;
	line-height: 23px;
	color: #a6a6a6;
    margin-top: 46px!important;
}
.welCome>div>a,.welCome>div>a:hover,.welCome>div>a:active,.welCome>div>a:visited{
    color: #666666;
    text-decoration: none;
}
/* ************************************************************************* */

main{
    width: 400px;
    margin: 56px auto 0;
}
main>div{
    width: 400px;
	height: 44px;
    display: flex;
    align-items: center;
	border: solid 1px #d9d9d9;
    padding: 4px;
    padding-left: 11px;
    margin-bottom: 48px;
}
main>div>p{
    width: 108px;
    height: 21px;
	font-size: 20px;
	line-height: 21px;
	color: #666666;
}
main>div>input{
    flex: 1;
    min-width: 0;
    border: none;
    outline: none;
    font-size: 16px;
}
main>div>input::placeholder{
    color: #cccccc;
}
.code>div{
    width: 124px;
	height: 36px;
	background-color: #1a83e5;
    color: white;
    text-align: center;
    line-height: 36px;
    font-size: 28px;
    cursor: pointer;
}
.phoneCode>button{
    width: 124px;
	height: 36px;
	background-color: #e6e6e6;
    color: #666666;
    border: none;
}
.phoneCode{
    margin-bottom: 12px;
}
#checkbox{
    height: 14px;
    padding: 0;
    border: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 14px;
}
#check{
    min-width: 14px;
    flex: 0;
    margin-right: 4px;
}
#checkbox>span{
    color: #ff6700;
}
/* ************************************************************************* */
footer{
    width: 1200px;
    height: 78px;
    margin: 38px auto 0;
    text-align: center;
    color: #333333;
    font-size: 14px;
    padding-top:24px;
    border-top: 2px solid #e6e6e6;
}
footer>p{
    margin-bottom: 23px;
}
main>button{
    width: 400px;
	height: 44px;
	background-color: #ff6600;
    color: white;
    font-size: 28px;
    border: none;
}
p,span,del{
    cursor: pointer;
}